.intro {
  padding: 180px 230px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 15px;

  .textbox {
    overflow-y: hidden;
  }

  p {
    font-size: 16px;
    animation: 0.7s slide-away-down-paragraph 0s cubic-bezier(0, 0.01, 0.01, 1)
      both;

    &.is-inview {
      animation: 0.7s slide-up-paragraph 0.2s cubic-bezier(0, 0.01, 0.01, 1)
        both;
    }
  }

  h4 {
    font-size: 28px;
    // font-weight: bolder;
    animation: 0.7s slide-away-up-heading 0s cubic-bezier(0, 0.01, 0.01, 1) both;

    &.is-inview {
      animation: 0.7s slide-down-heading 0.3s cubic-bezier(0, 0.01, 0.01, 1)
        both;
    }
  }

  i {
    font-size: 50px;
    margin-top: 20px;
    margin-right: 40px;
  }
}

.intro-light {
  background-color: rgb(240, 240, 240);
}

.intro-dark {
  background-color: #1a1a1a;
}

// ====|  Animations  |====

@keyframes slide-away-up-heading {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-180%);
  }
}

@keyframes slide-down-heading {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-up-paragraph {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-away-down-paragraph {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(75px);
  }
}

// ====|  Tablet  |====

@media (min-width: 450px) and (max-width: 768px) {
  .intro {
    padding: 150px 80px;
    grid-template-columns: 1fr;
  }
}

// ====|  Mobile  |====

@media (max-width: 450px) {
  .intro {
    padding: 100px 30px;
    grid-template-columns: 1fr;
  }
}
