.intro {
  padding: 120px 230px;
  padding-top: 160px;
  background-color: rgb(252, 252, 252);
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;

  .textbox {
    overflow-y: hidden;
  }

  p {
    font-size: 16px;
    animation: 0.7s slide-away-down-paragraph 0s cubic-bezier(0, 0.01, 0.01, 1)
      both;

    &.is-inview {
      animation: 0.7s slide-up-paragraph 0.4s cubic-bezier(0, 0.01, 0.01, 1)
        both;
    }
  }

  h4 {
    font-size: 24px;
    font-weight: bolder;
    animation: 0.7s slide-away-up-heading 0s cubic-bezier(0, 0.01, 0.01, 1)
      both;

    &.is-inview {
      animation: 0.7s slide-down-heading 0.55s cubic-bezier(0, 0.01, 0.01, 1) both;
    }
  }

  i {
    font-size: 50px;
    margin-top: 20px;
    margin-right: 40px;
  }
}

// .intro-light {
//   background-color: rgb(252, 252, 252);
//   transition: all ease-out 0.4s;
// }

// .intro-dark {
//   background-color: #1a1a1a;
//   transition: all ease-out 0.4s;
// }

// .hide {
//   opacity: 0;
//   transform: translateY(75px);
//   transition: all ease-out 0.4s;
// }

// ====|  Animations  |====

@keyframes slide-away-up-heading {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-180%);
  }
}

@keyframes slide-down-heading {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-up-paragraph {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-away-down-paragraph {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(75px);
  }
}

// ====|  Tablet  |====

@media (min-width: 450px) and (max-width: 768px) {
  .intro {
    padding: 120px 80px;
    padding-top: 100px;
    grid-template-columns: 1fr;
  }
}

// ====|  Mobile  |====

@media (max-width: 450px) {
  .intro {
    padding: 70px 30px;
    padding-top: 100px;
    grid-template-columns: 1fr;
  }
}
