.hero {
  // max-width: 1280px;
  // margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200vh;
}

.main-head {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  position: absolute;
  padding: 30px 0px;
  z-index: 1;

  div {
    overflow: hidden;
  }

  h1 {
    font-size: 205px;
    line-height: 185px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    animation: 0.8s slide-in-up 0s cubic-bezier(0, 0.01, 0.01, 1) backwards;
    // animation: 0.8s slide-in-up 0s cubic-bezier(0.61, 1, 0.88, 1) backwards;

    &.main-heading {
      animation-delay: 0.1s;
    }
    &.main-heading2 {
      animation-delay: 0.4s;
    }
    &.main-heading3 {
      animation-delay: 0.7s;
    }
  }
}

// .img-box {
//   position: fixed;
// }

.main-img {
  width: 30vw;
  height: 600px;
  margin-top: 345px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 450px;
  border: 2px solid black;

  &::after {
    background-color: white;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    animation: 0.5s slide-away-left 0.1s ease-out both;
    right: 0;
    bottom: 0;
  }

  .hero-img {
    width: 135%;
    animation: 1.5s zoom-down 0s cubic-bezier(0, 0.01, 0.01, 1) both;
  }
}

// ====|  Animations  |====

@keyframes slide-away-left {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes zoom-down {
  0% {
    width: 180%;
  }
  100% {
    width: 130%;
  }
}

@keyframes slide-in-up {
  0% {
    transform: translateY(150%) rotate(2deg);
  }
  100% {
    transform: translateY(0%) rotate(0deg);
  }
}

// ====|  Tablets  |====

@media (min-width: 450px) and (max-width: 868px) {
  .main-head {
    padding: 25px 0px;

    h1 {
      font-size: 120px;
      line-height: 120px;
    }
  }
  .main-img {
    width: 50vw;
    height: 600px;
    margin-top: 235px;
  }
}

// ====|  Mobile  |====

@media (max-width: 450px) {
  .main-head {
    padding: 30px 0px;
    gap: 10px;

    h1 {
      font-size: 60px;
      line-height: 60px;
    }
  }
  .main-img {
    // height: 410px;
    // margin-top: 50px;
    // margin-bottom: 120px;

    // .main-img {
    width: 60vw;
    height: 360px;
    margin-top: 130px;
    // }
  }
}
