.upper-footer {
  // margin-top: 20px;
  padding: 40px 230px;
  padding-top: 50px;

  .textbox {
    overflow-y: hidden;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h4 {
    font-size: 28px;
    // animation: 0.7s slide-away-up-heading 0s cubic-bezier(0, 0.01, 0.01, 1) both;
    transition: all ease 0.7s;
    transform: translateY(-180%);

    &.is-inview {
      transform: translateY(0%);
      // animation: 0.7s slide-down-heading 0.25s cubic-bezier(0, 0.01, 0.01, 1)
      //   both;
    }

    &:nth-child(2) {
      text-align: right;
    }
  }

  .footer {
    // max-width: calc(1280px - 380px);
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}

.link-button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all ease 0.7s;
  transform: translateY(-180%);

  &.is-inview {
    transform: translateY(0%);
    transition-delay: 0.1s;

    h4 {
      transform: translateY(0%);
      transition-delay: 0.2s;
    }
  }

  .line {
    height: 2px;
    width: 100%;
    margin-top: -5px;
    transition: all ease-out 0.7s;
  }

  .line-light {
    transition: all ease-out 0.4s;
    background-color: black;
  }

  .line-dark {
    transition: all ease-out 0.4s;
    background-color: white;
  }

  &:hover .line {
    width: 0%;
  }
}

.lower-footer {
  text-align: center;
  font-size: 14px;
  padding: 15px 8px;

  p {
    transition: all ease 0.5s;
    transform: translateY(180%);

    &.is-inview {
      transform: translateY(0%);
    }
  }
}

// ====|  Tablet  |====

@media (min-width: 450px) and (max-width: 968px) {
  .upper-footer {
    padding: 40px 80px;
  }
}

// ====|  Mobile  |====

@media (max-width: 450px) {
  .upper-footer {
    padding: 40px 30px;

    .footer {
      flex-direction: column;
      align-items: flex-start;
    }

    h4 {
      font-size: 24px;

      &:nth-child(2) {
        text-align: left;
      }
    }
  }
}
